.available-users {
    z-index: 10;
    h3 {
        color: #cccccc;
    }

    .available-users__users {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 40rem) {
    .available-users {
        margin-top: 1rem;
    }
}