.login-container {
    width: 50%;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

@media (max-width:40rem) {
    .login-container {
        width: 80vw;
    }
}